if [ -z $TMUX ] && [[ "$(tmux list-sessions | grep -c workspace)" -ge 1 ]]; then
  tmux attach -t workspace
elif [ -z $TMUX ]; then
  tmux new-session -s workspace
fi

# Set the directory we want to store zinit and plugins
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"

# Download Zinit, if it's not there yet
if [ ! -d "$ZINIT_HOME" ]; then
   mkdir -p "$(dirname $ZINIT_HOME)"
   mkdir -p ${XDG_DATA_HOME:-${HOME}/.cache/zinit/completions}
   git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

# Source/Load zinit
source "${ZINIT_HOME}/zinit.zsh"

autoload -Uz compinit
compinit

# Add in zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab

# Add in snippets
zinit snippet OMZP::git
zinit snippet OMZP::genpass
zinit snippet OMZP::git-auto-fetch
zinit snippet OMZP::gitignore
zinit snippet OMZP::helm
zinit snippet OMZP::sudo
zinit snippet OMZP::argocd
zinit snippet OMZP::chezmoi

# Init fuzzy finder
source <(fzf --zsh)

# Configure kubectl autocompletion
source ~/.config/kube_complete.sh

# Init starship
eval "$(starship init zsh)"

# History
HISTSIZE=12000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

{{ if eq .chezmoi.os "darwin" -}}

if [ -f '/Users/gijs/Downloads/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/gijs/Downloads/google-cloud-sdk/path.zsh.inc'; fi
if [ -f '/Users/gijs/Downloads/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/gijs/Downloads/google-cloud-sdk/completion.zsh.inc'; fi

export PKG_CONFIG_PATH="$(brew --prefix)/Cellar/mysql-client/9.0.1/lib/pkgconfig"
export MYSQLCLIENT_CFLAGS=`pkg-config mysqlclient --cflags`
export MYSQLCLIENT_LDFLAGS=`pkg-config mysqlclient --libs`

export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

{{ end -}}

source ~/.zsh_aliases

alias rancher='export KUBECONFIG=~/.kube/rancher-config'

if [ -f ~/.zsh_overrides ]; then
source ~/.zsh_overrides
fi

