if [ -n "$INTELLIJ_ENVIRONMENT_READER" ]; then
  return
fi

if [ -z $TMUX ] && [[ "$(tmux list-sessions | grep -c workspace)" -ge 1 ]]; then
  tmux attach -t workspace
elif [ -z $TMUX ]; then
  tmux new-session -s workspace
fi

# Set the directory we want to store zinit and plugins
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"

# Download Zinit, if it's not there yet
if [ ! -d "$ZINIT_HOME" ]; then
   mkdir -p "$(dirname $ZINIT_HOME)"
   mkdir -p ${XDG_DATA_HOME:-${HOME}/.cache/zinit/completions}
   git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

# Source/Load zinit
source "${ZINIT_HOME}/zinit.zsh"

autoload -Uz compinit
compinit

# Add in zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab

# Add in snippets
zinit snippet OMZP::git
zinit snippet OMZP::genpass
zinit snippet OMZP::git-auto-fetch
zinit snippet OMZP::gitignore
zinit snippet OMZP::helm
zinit snippet OMZP::sudo
zinit snippet OMZP::argocd
zinit snippet OMZP::chezmoi

# Init fuzzy finder
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Configure kubectl autocompletion
source ~/.config/kube_complete.sh
{{ if eq .chezmoi.os "darwin" -}}
source ~/.config/lima_completion.zsh
{{ end -}}

# Init starship
eval "$(starship init zsh)"

# History
HISTSIZE=12000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

# Install flux complextions
. <(flux completion zsh)

source ~/.zsh_aliases

alias rancher='export KUBECONFIG=~/.kube/rancher-config'

export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{{ if eq .chezmoi.os "linux" -}}
export PATH="$PATH:/opt/nvim-linux-x86_64/bin"
export PATH=$PATH:/usr/local/go/bin
{{ end -}}
export PATH=~/.bin/:$PATH
export PATH=~/.local/bin/:$PATH


export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Source all zsh stuff
for f in ~/.zsh/*; do source $f; done

if [ -f ~/.zsh_overrides ]; then
source ~/.zsh_overrides
fi
