#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}

sudo apt install ripgrep
sudo apt install wget
sudo apt install npm
sudo apt install build-essential
npm install -g @bitwarden/cli
sudo apt install neovim
sudo apt install kubectl
sudo apt install npm
sudo apt install git-extras

{{ else if eq .chezmoi.os "darwin" -}}

brew install ripgrep
brew install zsh-syntax-highlighting
brew install fzf
brew install k9s
brew install mysql-client
brew install trivy
brew install tmux
brew install npm
brew install wget
brew install neovim
brew install lima
brew install visual-studio-code
brew install docker
brew install git 
brew install make
brew install unzip
brew install font-fira-code-nerd-font
brew install xclip
brew install git-extras

{{ end -}}

npm install -g @bitwarden/cli
curl https://bws.bitwarden.com/install | sh
